### Realizado por Victor Marinas

## Tráfico de Madrid

El dataset ['trafico_madrid.csv'](./datos/trafico_madrid.csv) contiene datos de tráfico. Distintos sensores de control de tráfico de la Comunidad de Madrid proporcionan datos sobre la intensidad de tráfico cada 15 minutos.

__Descripción de los datos de tráfico__


* `idelem`: Identificación  única  del  Punto  de  Medida  en  los  sistemas  de  control  del tráfico del Ayuntamiento de Madrid. 
* `fecha`: fecha en formato Año, mes, día, hora, minutos, segundos
* `intensidad`: Intensidad   del   Punto   de   Medida   en
   el   periodo   de   15   minutos  (vehículos/hora). 
* `vmed`: Velocidad  media  de  los  vehículos  en  el periodo  de  15  minutos  (Km./h). Sólo para puntos de medida interurbanos M30. 
* `error`: Indicación de si ha habido al menos una
 muestra errónea o sustituida en el periodo de 15 minutos. 
    * `N`: no ha habido errores ni sustituciones 
    * `E`: los parámetros de calidad de alguna de las muestras integradas no son óptimos. 
* `periodo_integracion`: Número   de   muestras   recibidas   y   consideradas

__1.  Crear un dataframe de Pandas con las primeras 100 filas del fichero.__

In [2]:
# Sol:
import pandas as pd
import numpy as np
datos=pd.read_csv('./datos/trafico_madrid.csv',nrows=100,sep=',',index_col=1)
datos.head()
#Sólo cogemos 100 filas, el separador son , y hemos colocado la fecha como índice

,idelem,identif,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion
fecha,,,,,,,,,
2017-02-18 07:30:00,3621,17016,PUNTOS MEDIDA URBANOS,207,0,8.0,0,N,15
2017-02-07 00:00:00,3973,06033,PUNTOS MEDIDA URBANOS,134,1,6.0,0,N,13
2017-02-11 22:45:00,4064,10018,PUNTOS MEDIDA URBANOS,169,3,NaN,0,NaN,15
2017-02-08 00:00:00,6375,59021,PUNTOS MEDIDA URBANOS,53,1,7.0,0,N,14
2017-02-23 20:45:00,6691,PM12121,--,2428,5,37.0,81,NaN,15

In [2]:
%pwd #Ver donde está el directorio de trabajo

'C:\\Users\\danit\\Documents\\CUNEF\\MASTER\\PHYTON\\TEMA 6\\Ejercicios_Tema_7'

__2. Utiliza el parámetro `chunksize` disponible en la función `read_csv` para leer los datos en bloques de 1000 filas. Crear un dataframe solo con las filas que cumplan que el valor de la variable  `intensidad` sea superior a 1000.
¿Cuántas filas tiene el dataframe creado?__

In [3]:
# Sol: 
lista=[]
bloq1000=pd.read_csv('./datos/trafico_madrid.csv', chunksize=1000)
for minitabla in bloq1000:
    res=minitabla[minitabla.intensidad>1000]
    lista.append(res)
    
tabla=pd.concat(lista)
tabla.shape #El resultado es una tabla de 11531 filas por 10 columnas

(11531, 10)

In [4]:
tabla.shape #Nos dice las dimensiones de la tabla
tabla.dtypes #Nos dice el tipo de cada columna

idelem                   int64
fecha                   object
identif                 object
tipo_elem               object
intensidad               int64
ocupacion                int64
carga                  float64
vmed                     int64
error                   object
periodo_integracion      int64
dtype: object

--------

__3. Crea un dataframe con los datos del fichero  ['trafico_madrid.csv'](trafico_madrid.csv). El dataframe creado debe tener solo las columnas `idelem`,  `fecha` y  `vmed`.__

In [5]:
datos3=pd.read_csv('./datos/trafico_madrid.csv',sep=',')
datos4=datos3.loc[:,['idelem','fecha','vmed']]
datos4.head()

   idelem                fecha  vmed
0    3621  2017-02-18 07:30:00     0
1    3973  2017-02-07 00:00:00     0
2    4064  2017-02-11 22:45:00     0
3    6375  2017-02-08 00:00:00     0
4    6691  2017-02-23 20:45:00    81

__4. Utiliza el parámetro `chunksize` disponible en la función `read_csv` para leer los datos en bloques de 1000 filas. Crear un dataframe solo con las filas que cumplan que el valor de la variable  `tipo_elem` sea 'PUNTOS MEDIDA M-30' y la variable `carga` sea menor que 10.
¿Cuántas filas tiene el dataframe creado?__

In [9]:
lista2=[]
bloq2=pd.read_csv('./datos/trafico_madrid.csv', chunksize=1000)
for tablapeq in bloq2:
    resultado=tablapeq[(tablapeq.carga<10)&(tablapeq.tipo_elem=='PUNTOS MEDIDA M-30')]
    lista2.append(resultado)
    
tabla2=pd.concat(lista2)
tabla2.shape #4717 filas y 10 columnas

(4717, 10)