### Realizado por Victor Marinas

## Tráfico de Madrid

El dataset ['trafico_madrid.csv'](trafico_madrid.csv) contiene datos de tráfico. Distintos sensores de control de tráfico de la Comunidad de Madrid proporcionan datos sobre la intensidad de tráfico cada 15 minutos.

__Descripción de los datos de tráfico__


* `idelem`: Identificación  única  del  Punto  de  Medida  en  los  sistemas  de  control  del tráfico del Ayuntamiento de Madrid. 
* `fecha`: fecha en formato Año, mes, día, hora, minutos, segundos
* `intensidad`: Intensidad   del   Punto   de   Medida   en
   el   periodo   de   15   minutos  (vehículos/hora). 
* `vmed`: Velocidad  media  de  los  vehículos  en  el periodo  de  15  minutos  (Km./h). Sólo para puntos de medida interurbanos M30. 
* `error`: Indicación de si ha habido al menos una
 muestra errónea o sustituida en el periodo de 15 minutos. 
    * `N`: no ha habido errores ni sustituciones 
    * `E`: los parámetros de calidad de alguna de las muestras integradas no son óptimos. 
* `periodo_integracion`: Número   de   muestras   recibidas   y   consideradas

Crea un dataframe con los datos del fichero  ['trafico_madrid.csv'](trafico_madrid.csv). 

__1. Seleccionar aquellas filas que cumplen que la `ocupación` sea igual a cero.__

In [2]:
# Sol:
import pandas as pd
datos=pd.read_csv('./datos/trafico_madrid.csv')
filas0=datos[datos.ocupacion==0]
filas0.head()

,idelem,fecha,identif,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion
0,3621,2017-02-18 07:30:00,17016,PUNTOS MEDIDA URBANOS,207,0,8.0,0,N,15
15,6274,2017-02-22 06:30:00,55079,PUNTOS MEDIDA URBANOS,55,0,1.0,0,N,14
17,5477,2017-02-15 04:00:00,60031,PUNTOS MEDIDA URBANOS,43,0,0.0,0,N,12
18,5416,2017-02-11 04:00:00,43003,PUNTOS MEDIDA URBANOS,51,0,3.0,0,N,13
29,5910,2017-02-09 04:45:00,44004,PUNTOS MEDIDA URBANOS,99,0,4.0,0,N,15

__2. ¿Cuantos valores distintos de `tipo_elem` aparecen en la tabla?__

In [29]:
# Sol: 
import numpy as np
unicos=np.unique(datos.tipo_elem)
unicos

array(['--', 'PUNTOS MEDIDA M-30', 'PUNTOS MEDIDA URBANOS'], dtype=object)

__3. Calcula la intensidad media.__

In [30]:
# Sol:
datos.intensidad.mean()

490.309525698419

__4. Calcula la intensidad media de los puntos de medida URBANOS.__

In [31]:
# Sol:
datos4=datos[datos.tipo_elem=='PUNTOS MEDIDA URBANOS']
datos4.intensidad.mean()

368.1808910718826

__5. Crea una nueva columna cuyo valor sea la suma de la `ocupación` y la `carga`.__

In [18]:
# Sol:
datos5=datos
datos5.carga=datos5.carga.fillna(0)
datos5['Nueva']=datos5.ocupacion+datos5.carga
datos5.head(10)

,idelem,fecha,identif,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion,Nueva
0,3621,2017-02-18 07:30:00,17016,PUNTOS MEDIDA URBANOS,207,0,8.0,0,N,15,8.0
1,3973,2017-02-07 00:00:00,06033,PUNTOS MEDIDA URBANOS,134,1,6.0,0,N,13,7.0
2,4064,2017-02-11 22:45:00,10018,PUNTOS MEDIDA URBANOS,169,3,0.0,0,NaN,15,3.0
3,6375,2017-02-08 00:00:00,59021,PUNTOS MEDIDA URBANOS,53,1,7.0,0,N,14,8.0
4,6691,2017-02-23 20:45:00,PM12121,--,2428,5,37.0,81,NaN,15,42.0
5,6202,2017-02-03 15:00:00,54010,PUNTOS MEDIDA URBANOS,170,4,27.0,0,N,15,31.0
6,4047,2017-02-13 07:00:00,09033,PUNTOS MEDIDA URBANOS,65,1,11.0,0,N,15,12.0
7,6077,2017-02-26 11:30:00,47016,PUNTOS MEDIDA URBANOS,171,1,13.0,0,N,15,14.0
8,6103,2017-02-17 16:30:00,47044,PUNTOS MEDIDA URBANOS,153,2,27.0,0,N,15,29.0
9,7111,2017-02-21 22:30:00,62070,PUNTOS MEDIDA URBANOS,395,6,28.0,0,N,15,34.0

__6. Crea una nueva columna llamada `tipo` que sea una transformación de la columna `tipo_elem`, donde el valor `PUNTOS MEDIDA m-30` se sustituye por `M-30` y el valor `PUNTOS MEDIDA URBANOS` se sustituye por `URBANO`. Utiliza el método `apply`.__

In [4]:
# Sol:
datos6=datos
def cambio_nombre(columna):
    if columna=='PUNTOS MEDIDA M-30':
        return 'M-30'
    elif columna=='PUNTOS MEDIDA URBANOS':
            return 'URBANO'
datos6['tipo']=datos6.tipo_elem.apply(cambio_nombre)
datos6.head()

,idelem,fecha,identif,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion,tipo
0,3621,2017-02-18 07:30:00,17016,PUNTOS MEDIDA URBANOS,207,0,8.0,0,N,15,URBANO
1,3973,2017-02-07 00:00:00,06033,PUNTOS MEDIDA URBANOS,134,1,6.0,0,N,13,URBANO
2,4064,2017-02-11 22:45:00,10018,PUNTOS MEDIDA URBANOS,169,3,NaN,0,NaN,15,URBANO
3,6375,2017-02-08 00:00:00,59021,PUNTOS MEDIDA URBANOS,53,1,7.0,0,N,14,URBANO
4,6691,2017-02-23 20:45:00,PM12121,--,2428,5,37.0,81,NaN,15,None

__7. Crea una nueva columna llamada `Dia` que describa el día de la semana en la observación.__

In [35]:
# Sol: 
import datetime as dt
datos7=datos
datos7['Fecha']=pd.to_datetime(datos7['fecha'])
datos7['Dia']=datos7['Fecha'].dt.weekday
datos7.head()

,idelem,fecha,identif,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion,Fecha,Dia
0,3621,2017-02-18 07:30:00,17016,PUNTOS MEDIDA URBANOS,207,0,8.0,0,N,15,2017-02-18 07:30:00,5
1,3973,2017-02-07 00:00:00,06033,PUNTOS MEDIDA URBANOS,134,1,6.0,0,N,13,2017-02-07 00:00:00,1
2,4064,2017-02-11 22:45:00,10018,PUNTOS MEDIDA URBANOS,169,3,NaN,0,NaN,15,2017-02-11 22:45:00,5
3,6375,2017-02-08 00:00:00,59021,PUNTOS MEDIDA URBANOS,53,1,7.0,0,N,14,2017-02-08 00:00:00,2
4,6691,2017-02-23 20:45:00,PM12121,--,2428,5,37.0,81,NaN,15,2017-02-23 20:45:00,3